{% extends "base.html" %}
{% block content %}
    <h1 class="mb-5">Квартиры</h1>
    <div class="products">
        <a class="card products__item">
            <img class="card-img-top">
            <span class="card-body">
                <span class="card-title">Название карточки</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </span>
        </a>
        <a class="card products__item">
            <img class="card-img-top">
            <span class="card-body">
                <span class="card-title">Название карточки</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </span>
        </a>
        <a class="card products__item">
            <img class="card-img-top">
            <span class="card-body">
                <span class="card-title">Название карточки</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </span>
        </a>
    </div>
    <nav class="float-right">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
    </nav>
{% endblock %}