{% extends "base.html" %}
{% load static %}
{% block head %}
<title>{{ category.title }}</title>
{% endblock %}
{% block content %}
    <h1 class="mb-5">{{ category.title_plural }}</h1>
    <div class="products">
        <div class="products__list">
            {% for product in products %}
            <a href="{{ product.get_absolute_url }}" class="card products__item">
                {% if product.image %}
                <span class="products__image" style="background-image:url('{{ product.image.url }}')"></span>
                {% else %}
                <span class="products__image products__image_no-img"></span>
                {% endif %}
                <span class="card-body">
                    <span>{{ product.category.title }} {{ product.square }} м²</span>
                    <p class="products__price">{{ product.price }} ₽</p>
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- <nav class="float-right">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
    </nav> -->
    <div class="pagination float-right">
        <span class="pagination__list">
            {% if products.has_previous %}
                <a class="pagination__item" href="?page={{ products.previous_page_number }}">&laquo;</a>
            {% endif %}
                <span>
                    Страница {{ products.number }} из {{ products.paginator.num_pages }}
                </span>
            {% if products.has_next %}
                <a class="pagination__item" href="?page={{ products.next_page_number }}">&raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}